<!doctype html/>
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width" initial-scale="1")
    title project№7
    link(href="./styles/main.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Varela+Round&display=swap" rel="stylesheet")
body
    include sections/header.pug
    include sections/home.pug
    include sections/features.pug
    include sections/about.pug
    include sections/map.pug
    include sections/iphone.pug
    include sections/readytobuy.pug
    include sections/customers.pug
    include sections/plan.pug
    include sections/subscribe.pug
    include sections/footer.pug
    script(src="./js/script.js")