.about
    .container.about__container
        .about__left
            .about__iphone
        .about__right
            h2.about__title Your day is protected
            .about__subtitle.subtitle There have not been any since we have lived here, said my mother. 
            .about__subtitle.subtitle We thought - Mr. Copperfield thought - it was quite a large rookery; but the nests were very old ones, and the birds have deserted them a long while.
            .about__bottom
                button.about__button.discription Try to hack us
                    .about__arrow.icon &#xe802;
                .about__learn-more.discription Learn more