.customers
    .container.customers__container
        .customers__top
            .customers__arrow-top.customers__arrow ▲
            .customers__carousel
                .customers__all-people
                    .customers__people
                        .customers__women-glass.customers__foto
                    .customers__people
                        .customers__men.customers__foto
                    .customers__people
                        .customers__women.customers__foto
            .customers__arrow-bottom.customers__arrow ▼
        h2.customers__title New Providence is the great UI kit 
        .customers__subtitle.subtitle “Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.”
        .customers__all-stars
            .customers__star.icon &#xe800;
            .customers__star.icon &#xe800;
            .customers__star.icon &#xe800;
            .customers__star.icon &#xe800;
            .customers__star.icon &#xe800;
        .customers__bottom CAMERON DOWMAN
