.features
    .container.features__container
        .features__left
            .features__lock.features__icon
            h4.features__title Real-time all the time
            .features__subtitle.discription Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            .features__subtitle.discription Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden door.
        .features__right
            .features__alarm.features__icon
            h4.features__title Adopt without any obstacles
            .features__subtitle.discription This sounded a very good reason, and Alice was quite pleased to know it. 'I never thought of that before!' she said.
            .features__subtitle.discription This I have produced as a scantling of Jack’s great eloquence and the force of his reasoning upon such abstruse matters.