.footer
    .container.footer__container
        .footer__left
            .footer__left-title 
            .footer__left-subtitle.subtitle It was some time before he obtained any answer, and the reply, when made, was unpropitious.
            .footer__left-store
                .footer__left-logo-apple.icon &#xf179;
                .footer__left-download
                    .footer__left-onthe Download on the
                    .footer__left-appstore App Store
            .footer__left-network
                .footer__left-twitter.icon.footer__icon &#xf099;
                .footer__left-facebook.icon.footer__icon &#xf09a;
                .footer__left-google.icon.footer__icon &#xf0d5;
                .footer__left-telegram.icon.footer__icon &#xf302;
                .footer__left-pinterest.icon.footer__icon &#xf231;
                .footer__left-linkedin.icon.footer__icon &#xf0e1;
        .footer__right
            .footer__right-left
                .footer__right-title.text LEARN MORE
                .footer__right-discription How it works?
                .footer__right-discription Meeting tools
                .footer__right-discription Live striming
                .footer__right-discription Contat method
            .footer__right-center
                .footer__right-title.text ABOUT US
                .footer__right-discription About us
                .footer__right-discription Features
                .footer__right-discription Privacy police
                .footer__right-discription Terms & Conditions
            .footer__right-right
                .footer__right-title.text SUPPORT
                .footer__right-discription F.A.Q.
                .footer__right-discription Contact us
                .footer__right-discription Live chat
                .footer__right-discription Phone call
        .footer__bottom
            .footer__bottom-left For more freebies visit: 
                a(href="http://getcraftwork.com").footer__bottom-left-talk http://getcraftwork.com
            .footer__bottom-right
                .footer__bottom-right-tagline Made with Love by
                .footer__bottom-right-logo