.header
    .container.header__container
        .header__left
            .header__menu-icon
            .header__menu
                .header__tour.discription.header_clarity Tour
                .header__features.discription.header_clarity Features
                .header__pricing.discription.header_clarity Pricing
        .header__center
        .header__right
            .header__help.discription.header_clarity Help
            .header__contacts.discription.header_clarity Contacts
            .header__logo-get.discription
                .header__apple-logo.icon &#xf179;
                .header__get-app.discription Get App
