.home
    .container.home__container
        h1.home__title What happens tomorrow?
        .home__subtitle.subtitle The sight of the tumblers restored Bob Sawyer to a degree of equanimity which he had not possessed since his interview with his landlady. His face brightened up, and he began to feel quite convivial.
        button.home__button
            .icon &#xe801; 
            .home__play Watch Video
        .home__image