.iphone
    .container.iphone__container
        h2.iphone__title Beautiful Interface
        .iphone__line
        .iphone__subtitle Landing Screen
    .iphone__content
        .iphone__screen1.iphone__pictures
        .iphone__screen2.iphone__pictures
        .iphone__screen3
        .iphone__screen4.iphone__pictures
        .iphone__screen5.iphone__pictures