.map
    .container.map__container
        .map__top
            h2.map__title We are almost everywhere
            .map__subtitle.subtitle Now the races of these two have been for some ages utterly extinct, and besides to discourse any further of them would not be at all to my purpose.
            .map__subtitle.subtitle Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            .map__partners PARTNERS
            .map__logo
                .map__dropbox.map__logo_size
                .map__evernote.map__logo_size
        .map__bottom
            .map__world
            .map__point1(data-title="minsk").map__active-point
            .map__point2.map__active-point
            .map__point3.map__active-point
            .map__point4.map__active-point
            .map__point5.map__active-point
            .map__point6.map__active-point
            .map__point7.map__active-point
            .map__point8.map__active-point
            .map__point9.map__active-point
            .map__point10.map__active-point
