.plan
    .container.plan__container
        .plan__left
            h2.plan__left-title Choose your perfect plan
            .plan__left-youare.text You are
            .plan__left-choose
                .plan__left-individual.discription Individual
                .plan__left-company.discription Company
            .plan__left-subtitle.subtitle Thus much I thought proper to tell you in relation to yourself, and to the trust I reposed in you.
            .plan__left-bottom Have a bigger team? 
                .plan__left-talk Let‘s talk
        .plan__right
            .plan__right-starter
                h3.plan__starter-title Starter
                .plan__starter-cost Free
                .plan__starter-subtitle.subtitle Build your schedule every day
                .plan__list.discription Unlimeted events
                .plan__list.discription Connect Dropbox & Evernote
                .plan__list_x.discription Personal Assistant
                button.plan__button Get started
            .plan__right-pro
                h3.plan__pro-title Pro
                .plan__pro-cost $4.99
                .plan__pro-subtitle.subtitle Make your life better
                .plan__list.discription Unlimeted events
                .plan__list.discription Connect Dropbox & Evernote
                .plan__list.discription Personal Assistant
                button.plan__button Get Pro