.readytobuy
    .container.readytobuy__container
        .readytobuy__logo.text NEW 
            span.readytobuy__end-logo PROVIDENCE
        h2.readytobuy__title Get it to your smartphone 
        .readytobuy__content
            input(type="email" placeholder="denis@getcraftwork.com").readytobuy__email
            .readytobuy__button
                .readytobuy__send Send Invite
                .icon  &#xe802;
        .readytobuy__from.text OR DOWNLOAD FROM
        .readytobuy__store
            .readytobuy__logo-apple.icon &#xf179;
            .readytobuy__download
                .readytobuy__onthe Download on the
                .readytobuy__appstore App Store