.subscribe
    .container.subscribe__container
        h2.subscribe__title Subscribe our newsletters
        .subscribe__content
            input(type="email" placeholder="Your e-mail").subscribe__email
            button.subscribe__button Subscribe 
        .subscribe__bottom.discription We promise to never spam you.